html {
    background: #007C82;
}

#sequenceInputDiv {
    background-color: #D26D6D;
}

#HMMInputDiv {
    background-color: #56BDE8;
    margin-top: 10px;
}

#savePointInputDiv {
    background-color: #D3BAED;
    margin-top: 10px;
}

#scalingSelectionDiv {
    background-color: #E2C14F;
    margin-top: 10px;
}

#infoBoxDiv {
    background-color: #8CEC8C;
    width: 640px;
    height: 240px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 16px;
    overflow: auto;
}

#informationContentProfileSVG {
    cursor: default;
    margin-top: 10px;
}

#domainCoverageSVG {
    cursor: default;
    margin-top: 10px;
}

#litemol {
    width: 640px;
    height: 480px;
    margin-top: 80px;
    position: relative;
}
