html {
    background: #007c82;
}

#scalingSelectionDiv {
    background-color: #e2c14f;
}

#sequenceInputDiv {
    background-color: #d26d6d;
    margin-top: 10px;
}

#HMMInputDiv {
    background-color: #56bde8;
    margin-top: 10px;
}

#savePointInputDiv {
    background-color: #d3baed;
    margin-top: 10px;
}

#infoBoxDiv {
    background-color: #8cec8c;
    width: 640px;
    height: 180px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 16px;
    overflow: auto;
}

#informationContentProfileSVG {
    margin-top: 10px;
}

#domainCoverageSVG {
    margin-top: 10px;
}

#litemol {
    width: 640px;
    height: 480px;
    margin-top: 80px;
    position: relative;
}
